body{
    padding: 0;
    margin: 0;
}
.sidebarApp{

}
.noBorder{
    border: none;
}
.navbar{
    box-shadow: 0px 5px 5px 5px #e3e6ea;
}
.profile-img{
    max-width: 25px;
    max-height: 25px;
    border-radius: 200px;
}
.min-h-50{
    min-height: 50px;
    max-height: 70px;
}
.searchBox{
    border: none;
    width: 200px;
    background-color: rgb(227, 226, 226,0.3);
}
.searchBox:focus{
    box-shadow:  1px 1px 5px 2px #e3e6ea;
        width: 230px;
        outline: none;
        background-color: rgb(227, 226, 226,0.6);
        transition: 0.2s;
}
.barIconButton{
    padding: 0px;
    margin-left: 10px;
    margin-right: 10px;
}
.barIcon:hover{
    width: 20px;
    height: 20px;
    transition:  ease-in-out 0.3s;
}
.noMargin{
margin: 0px;
} 
.noPadding{
padding: 0px;
}
table  tr {
    text-align: center;
}
tbody tr:hover{
    background-color: rgba(12, 12, 12, 0.01);
}

@media (max-width: 576px) {
    .col-xs-12 {
        flex: 0 0 auto;
        width: 100%;
    }
  }