body{
    padding: 0;
    margin: 0;
}
.App{
display: flex;
flex-direction: row;
}
.sidebarApp{
    flex-grow: 0.1;
    overflow: hidden;
    box-shadow: 0px 5px 5px 5px #e3e6ea;
}
.appContent{
    flex-grow: 0.9;
    overflow: hidden;
}
.sidebar{
    position: relative;
    height: 100%;
    width: 100%;


}
.noBorder{
    border: none;
}
.navbar{
    box-shadow: 0px 5px 5px 5px #e3e6ea;
}
.profile-img{
    max-width: 25px;
    max-height: 25px;
    border-radius: 200px;
}
.min-h-50{
    min-height: 50px;
    max-height: 70px;
}
.lightInput{
    border: none;
    background-color: rgba(253, 251, 251, 0.7);
    width: 220px;
    border-radius: 5%;
    box-shadow:  1px 1px 5px 2px #e3e6ea;
    outline: none;
}
.lightInput:focus{
        padding: 2px;
        transition: ease-in-out 0.3s;
} 
.inputBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border-radius: 15px;
    overflow: hidden;
}
.searchBox{
    border: none;
    width: 200px;
    background-color: rgb(227, 226, 226,0.3);
}
.searchBox:focus{
    box-shadow:  1px 1px 5px 2px #e3e6ea;
        width: 230px;
        outline: none;
        background-color: rgb(227, 226, 226,0.6);
        transition: 0.2s;
}
.barIconButton{
    padding: 0px;
    margin-left: 10px;
    margin-right: 10px;
}
.barIcon:hover{
    width: 20px;
    height: 20px;
    transition:  ease-in-out 0.3s;
}
.noMargin{
margin: 0px;
} 
.noPadding{
padding: 0px;
}
table  tr {
    text-align: center;
}
tbody tr:hover{
    background-color: rgba(12, 12, 12, 0.01);
}


.grayHover{
    background: rgba(0, 0, 0, 0.211);
    transition: ease-in-out 0.3s;
}
.greenHover{
    background: rgba(53, 227, 0, 0.211);
    transition: ease-in-out 0.3s;
}
.redHover{
    background: rgba(227, 0, 0, 0.211);
    transition: ease-in-out 0.3s;
}
.blueHover{
    background: rgba(0, 68, 227, 0.211);
    transition: ease-in-out 0.3s;
}

.blueHover:hover{
    background: rgba(0, 68, 227, 0.1);
    transition: ease-in-out 0.3s;
}

.grayHover:hover{
    background: rgba(0, 0, 0, 0.1);
    transition: ease-in-out 0.3s;
}
.greenHover:hover{
    background: rgba(53, 227, 0, 0.1);
    transition: ease-in-out 0.3s;
}
.redHover:hover{
    background: rgba(227, 0, 0, 0.1);
    transition: ease-in-out 0.3s;
}

.bgGray{
    background-color: rgb(227, 226, 226,0.3);
}
@media (max-width: 576px) {
    .col-xs-12 {
        flex: 0 0 auto;
        width: 100%;
    }
  }