@font-face {
  font-family: 'tajwal'; /*a name to be used later*/
  src:url('/src/assets/fonts/TajawalRegular.ttf');
}
body{
  margin: 0;
  padding:0;
  font-family:'tajwal';
}

@tailwind base;
@tailwind components;
@tailwind utilities;